pip>=25.2
setuptools>=70.0.0
wheel

fastapi==0.116.1
uvicorn[standard]
pydantic==2.11.7
transformers==4.56.0
torch==2.8.0
spacy==3.6.1
blis==0.7.11
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.6.1/en_core_web_trf-3.6.1-py3-none-any.whl

requests
python-multipart
starlette==0.47.3
sentencepiece
protobuf
tokenizers
numpy
tqdm
regex
packaging
typing_extensions

langchain
langchain_core
langchain_community
langchain_groq
langchain_google_genai
faiss-cpu
